<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Subject</th>
        <th>Grade</th>
    </tr>
    </thead>
    <tobody>
        <tr th:each="grade:${grades}">
            <td th:text="${grade.name}"></td>
            <td th:text="${grade.subject}"></td>
            <td th:text="${grade.mark}"></td>
            <td><a role="button" th:href="@{/gradeform/(id=${grade.id})}">Update</a></td>
        </tr>
    </tobody>
</table>
</body>
</html>